
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

html, body
{
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
    background-color: #424874 ;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}


#jumboHeading
{
    color: #424874;
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin: 2% 20% 2% 20%;
    background-color: #a6b1e1;
}

.btn:hover
{
color: lavender;
}

.imageMe
{
border-radius: 50%;
width: 100%;
max-width: 300px;
height: auto;
}

.responsive 
{
    width: 100%;
    max-width: 64px;
    height: auto;
}

h3, h4, h5
{
    border-bottom-style:groove;
    border-width: 0.02px;
    border-bottom-color:  #a6b1e1;
}

.col
{
padding: 1%;
}

.col-mx-auto
{
    margin: 1%;
}
.card
{
    background-color: transparent;
    border: none;
} 


#contactForm
{
    color: lavender;
}


.row2, .row5
{
    color: lavender;
    border-bottom-style: dotted;
    border-bottom-color:  #a6b1e1;
    margin: 0% 10% 0% 10%;
    padding-bottom: 3%;
    list-style-position: inside;
}

.row7
{
    color: lavender;
    border-bottom-style: dotted;
    border-bottom-color:  #a6b1e1;
    margin: 0% 10% 0% 10%;
    
}

.row4
{
    margin: 0% 10% 0% 10%;
    padding-bottom: 3%;
    list-style-position: inside;
}

#badge
{
    width: 100%;
    max-width: 150px;
    height: auto;
}

.navbar
{
    z-index: 6; /*sets overlay position. this makes row1 sit on top of other elements*/
    position: -webkit-sticky;
    position: sticky!important;/*makes heading stick to page. when scrolling the content scrolls behind*/
    top: 0;/*sticks heading to top of page*/
    width: 100%;/*setting this width gets rid of x-axis scroll*/
    margin: 0; /*makes the border go accross whole screen*/
    padding: 0;/*makes border go accross whole screen*/ 
    border-bottom-style: groove;
    border-bottom-color:  #a6b1e1;
    background: inherit;
}




.jumboSubHead
{
    color: #424874;
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin: 2% 30% 2% 30%;
    background-color: #a6b1e1;
}

::-webkit-scrollbar {
    width: 13px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: black;
  
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
  }