@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

html, body
{
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
    background-color: #424874;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}



.jumbotron
{
    color: #424874;
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin: 2% 20% 2% 20%;
    background-color: #a6b1e1;
}


.row2, .row3
{
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin-bottom: 3%;
}


.col1
{
    padding: 1%;
}

.card
{
width: 100%;
max-width: 200px;
height: auto;
border-radius: 20px;
/* height:fit-content ;
width: fit-content; */
border-radius: 20px;
background-color: #a6b1e1;
color:  #424874 ;
border-style: none;
}

img
{
width: 100%;
max-width: 200px;
height: auto;
border-radius: 20px;
}

h3
{
    color: lavender;
}

.carousel-item{
    text-align:center;
    }
    
.carousel-inner img{
display:inline-block  !important;
}


.image1, .image2, .image3, .image4
{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
}

.navbar
{
    border-bottom-style: groove;
    border-bottom-color:  #a6b1e1;
    background-color: #424874;
}


::-webkit-scrollbar {
    width: 13px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: black;
  
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
  }