
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

html, body
{
    letter-spacing: 2px;
    height: 100%;
    width: 100%
    
}

body
{
    background-color: #424874 ;
    font-family: 'Dosis', sans-serif;
}

#jumboHeading
{
    color: #424874;
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin: 4% 20% 4% 20%;
    background-color: #a6b1e1;
}

.btn:hover
{
color: lavender;
}

.imageMe
{
border-radius: 50%;
width: 100%;
max-width: 300px;
height: auto;
}

.responsive 
{
    width: 100%;
    max-width: 64px;
    height: auto;
  }

.col
{
padding: 3%;
}

.col-mx-auto
{
    margin: 3%;
}
.card
{
    background-color: transparent;
    border: none;
} 


#contactForm
{
    color: lavender;
}


.row2, .row5
{
    color: lavender;
    border-bottom-style: dotted;
    border-bottom-color:  #a6b1e1;
    margin: 0% 10% 0% 10%;
    padding-bottom: 4%;
    list-style-position: inside;
}

.row7
{
    color: lavender;
    border-bottom-style: dotted;
    border-bottom-color:  #a6b1e1;
    margin: 0% 10% 0% 10%;
    
}

.row4
{
    margin: 0% 10% 0% 10%;
    padding-bottom: 4%;
    list-style-position: inside;
}

#badge
{
    width: 100%;
    max-width: 150px;
    height: auto;
}

.navbar
{
    border-bottom-style: groove;
    border-bottom-color:  #a6b1e1;
    background-color: #424874;
    margin-bottom: 4%;
}

.scrollDiv
{
    position: fixed;
    top: 70px; /* top of the scroll is below navbar */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.jumboSubHead
{
    color: #424874;
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin: 4% 30% 4% 30%;
    background-color: #a6b1e1;
}

